body {
    margin: 0;
    background: grey;
    color: #fff;
    font-family: fantasy, sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
}

h1 {
    margin: 15px;
    font-size: 100px;
}

section {
    display: inline-block;
    width: 50%;
    margin: 15px;
}

h2 {
    margin: 0;
    font-size: 100px;
    outline: 0;
}

p {
    margin: 0;
    font-size: 200px;
}

section>div {
    display: inline-block;
    width: 30px;
    margin: 2px;
    padding: 26px;
    border: 5px #fff solid;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
}

section>div:active {
    background: grey;
}